/* Estilos Generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a{
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
}

ul{
  list-style-type: none;
}
